// =============================================
// base typograthy
// =============================================

::placeholder {
	color: #666;
}

::selection {
	background-color: transparent;
	color: #4A97B5;
}

.hidden {
	display: none !important;
}

input[type=checkbox] {}

* {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $mainFont;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 40px;
	line-height: 47px;
	font-weight: 500;
}

h2 {
	font-size: 30px;
	line-height: 35px;
	font-weight: 700;
}

h3 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
}

h5 {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}

h6 {
	font-size: 12px;
	line-height: 1.4;
}

p {
	padding: 0;
	margin: 0;
}

hr {
	overflow: hidden;
	height: 1px;
	background: $gray;
	border: 0;
	margin: 15px 0;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;

	//li {}
}

ol {
	list-style-type: decimal;
	list-style-position: inside;
	counter-reset: item;

	li {
		display: block;
		position: relative;

		&:before {
			content: counters(item, ".") ". ";
			counter-increment: item;
			display: inline;
			vertical-align: top;
			font-weight: 700;
		}
	}
}

q,
blockquote {
	text-align: center;
	display: block;
	font-style: italic;
}

strong,
b {
	font-weight: 700;
}

a {
	color: $blue;
	transition: all .2s ease;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	//&:active {}

	//&:visited {}
}

img[style*="float: left"],
img[style*="float:left"],
img[align="left"] {
	margin: 0 20px 5px 0;
}

img[style*="float: right"],
img[style*="float:right"],
img[align="right"] {
	margin: 0 0 5px 20px;
}

// =============================================
// icons
// =============================================

[class*="icon-"] {
	display: inline-block;
	vertical-align: top;
}

.lm {
	&_icon-analytic {
		@include before-img(inline-block, 85px, 85px, r) {
			background-image: url(../img/icons/analytica.png);
			margin-right: 20px;
			background-repeat: no-repeat;

			@include b(320) {
				background-size: contain;
				width: 60px;
				height: 60px;
			}
		}
	}

	&_icon-statistica {
		@include before-img(inline-block, 85px, 85px, r) {
			background-image: url(../img/icons/statistica.png);
			margin-right: 20px;
			background-repeat: no-repeat;

			@include b(320) {
				background-size: contain;
				width: 60px;
				height: 60px;
			}
		}
	}

	&_icon-sell {
		@include before-img(inline-block, 85px, 85px, r) {
			background-image: url(../img/icons/sell.png);
			margin-right: 20px;
			background-repeat: no-repeat;

			@include b(320) {
				background-size: contain;
				width: 60px;
				height: 60px;
			}
		}
	}

	&_icon-traffic {
		@include before-img(inline-block, 55px, 55px, r) {
			background-image: url(../img/icons/traffic.png);
			margin-bottom: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-web {
		@include before-img(inline-block, 55px, 55px, r) {
			background-image: url(../img/icons/web.png);
			margin-bottom: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-coverage {
		@include before-img(inline-block, 55px, 55px, r) {
			background-image: url(../img/icons/coverage.png);
			margin-bottom: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-loyal {
		@include before-img(inline-block, 55px, 55px, r) {
			background-image: url(../img/icons/loyal.png);
			margin-bottom: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-calc {
		@include before-img(inline-block, 22px, 22px, r) {
			background-image: url(../img/icons/calculator.png);
			margin-right: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-list {
		@include before-img(inline-block, 18px, 15px, r) {
			background-image: url(../img/icons/list.png);
			margin-right: 30px;
			background-repeat: no-repeat;
		}
	}

	&_icon-mail {
		@include before-img(inline-block, 20px, 16px, r) {
			background-image: url(../img/icons/mail.png);
			margin-right: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-phone {
		@include before-img(inline-block, 22px, 22px, r) {
			background-image: url(../img/icons/phone.png);
			margin-right: 10px;
			background-repeat: no-repeat;
		}
	}

	&_icon-pr {
		&::before {
			content: 'c';
			font-family: 'lmIcon';
		}
	}

	&_icon-shop {
		&::before {
			content: 'd';
			font-family: 'lmIcon';
		}
	}

	&_icon-build {
		&::before {
			content: 'e';
			font-family: 'lmIcon';
		}
	}

	&_icon-gov {
		&::before {
			content: 'a';
			font-family: 'lmIcon';
		}
	}

	&_icon-else {
		&::before {
			content: 'b';
			font-family: 'lmIcon';
		}
	}

	&_btn {
		&__brd {
			@include lm-btn(b, white, white, y, f, white, black);

			&_blue {
				@include lm-btn(b, #00B7F3, #00B7F3, y, f, #00B7F3, white);
			}
		}

		&__fill {
			@include lm-btn(f, white, black, y, f, white, black);

			&_blue {
				@include lm-btn(f, #1D7DB7, white, y, f, #00B7F3, white);
			}

			&_dark-blue {
				@include lm-btn(f, #2A5067, white, y, f, #00B7F3, white);
			}
		}
	}

	&_input {
		background-color: rgba(148, 157, 188, 0.5);
		color: white;
		border-radius: 5px;
		border: none;
		box-shadow: none;
		outline: none;
		font-size: 16px;
		padding: 15px;
		transition: 0.5s;

		&:active,
		&:hover,
		&:focus {
			background-color: #949DBC;
		}

		&::placeholder {
			color: white;
		}
	}

	&_title {
		&__left {
			font-size: 3em;
			font-weight: 600;
			color: white;

			@include b(600) {
				font-size: 2em;
			}
		}

		&__right {
			line-height: 1.1;
			padding: 0 10px;

			.lm_title {
				&_first {
					display: block;
					font-size: 35px;
					color: #414956;
					font-weight: bold;

					@include b(600) {
						font-size: 25px;
					}
				}

				&_second {
					display: block;
					font-size: 25px;
					color: #414956;
					font-weight: 600;

					@include b(600) {
						font-size: 25px;
					}
				}
			}
		}
	}
}