// =============================================
// main variables
// =============================================

$mainFont: 'OpenSans2';
$mainFontSize: 16px;
$mainLineHeight: 1.6;
$mainFontWeight: 300;
$mainFontColor: #000;

// =============================================
// additional variables
// =============================================

$exampleMainGridTempateColums: repeat(2,1fr);
$exampleMainGridTempateColums_mobile: 1fr;
$exampleParagrafFonrSize: 14px;

// =============================================
// colors
// =============================================

$black: #000;
$gray: #808080;
$white: #fff;
$blue: #00F;